@charset "utf-8";
/* CSS Document */

/*----------　追加　------------*/
#main_img_flame {
    width: 100%;
    height: 0;
    padding-bottom: 33.3%;
    overflow: hidden;
    margin: 0 auto 40px auto;
    position: relative;
}
#cate_img_flame {
    width: 100%;
    height: 0;
    padding-bottom: 20%;
    overflow: hidden;
    margin: 0 auto 40px auto;
    position: relative;
}
#cover {
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
#inner_img {
    position: absolute;
    top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);  
    -moz-transform: translate(-50%, -50%);
    width: 100%;
    z-index: 0;
}
#copy {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-40%);
    -webkit-transform: translate(-50%,-40%);
    -moz-transform: translate(-50%,-40%);
    font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
    font-size: 3.2vw;
    font-weight: normal;
    white-space: nowrap;
    color: #FFF;
    z-index: 2;
}
.logo {
    background: url(../images/common/logo_back.jpg) no-repeat center bottom;
    padding-bottom: 30px;
    margin-bottom: 10px;
}
.catch_copy {
    font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
    font-size: 2.5vw;
}

.service_img {
    width: 100%;
    height: 0;
    padding-bottom: 60%;
    overflow: hidden;
    margin: 0 auto 20px auto;
    position: relative;
}
.h4_title {
    font-weight: bold;
    font-size: 17px;
    color: #0085B2;
}

.gray_flame {
    background-color: #F8F8F8;
    padding: 30px 0 0 0 ;
}

.job_flame {
    border-top: solid 4px #bbb;
    border-bottom: solid 1px #ccc;
    border-right: solid 1px #ccc;
    border-left: solid 1px #ccc;
    margin-bottom: 40px;
}
.job_flame_header {
    background-color: #F6F6F6;
    margin-bottom: 1px;
    padding: 15px 20px;
}
.status {
    color: #fff;
    background-color: #3399cc;
    font-size: 15px;
    padding: 3px 10px;
    margin-left: 15px;
}
.job_copy {
    font-size: 13px;
    line-height: 100%;
    margin-bottom: 8px;
}
.job_flame_header h3 {
    margin: 0;
    line-height: 100%;
    font-size: 20px;
    font-weight: bold;
    color: #0059B2;
}
.job_flame_body {
    border-top: solid 1px #F6F6F6;
    border-bottom: solid 1px #ccc;
    padding: 15px 20px 30px 20px;
}
.job_img {
    width: 100%;
    height: 0;
    padding-bottom: 66%;
    overflow: hidden;
    margin: 10px auto 0 auto;
    position: relative;
}
.job_flame_footer {
    padding: 15px 20px 15px 20px;
    overflow: hidden;
}
.btn_detail {
    float: left;
    margin-right: 5px;
}
.btn_entry {float: left;}

.form-xs { width: 20%;}
.form-sm { width: 35%;}
.form-md { width: 60%;}
.form-lg { width: 100%;}

#corporation, #service, #recruit {
    display: block;
    padding-top: 70px;
    margin-top: -70px;
}


/*----------　管理画面追加　------------*/
.update {
    float: right;
    margin-top: 15px;
}

.table-view > thead > tr > th {
    padding: 20px 8px;
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: 1px solid #ddd;
    text-align: center;
    border-bottom: 1px solid #ddd;
    border-left: dotted 1px #ddd;
}
.table-view > tbody > tr > td {
    padding: 14px 8px;
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: dotted 1px #ddd;
}
.table-view > thead > tr > th:first-of-type,
.table-view > tbody > tr > td:first-of-type {
    border-left: none;
}
.table-view > thead:first-child > tr:first-child > th {
  border-top: solid 1px #ddd;
}
.table-view .gray {
    background-color: #F6F6F6;
}
.table-view > tbody > .gray > td {
    border-top: 2px solid #ddd;
    text-align: center;
}
.table-name { width: 130px;}

footer {
    border-top: solid 1px #ccc;
    padding-top: 45px;
    margin: 0 auto;
}
.f_navi_flame {
    background-color: #979797;
    color: #fff;
    padding: 8px 20px 3px 20px;
    overflow: hidden;
}
.f_navi {
    float: left;
    display: block;
    list-style: none;
    padding: 0;
    font-size: 13px;
}
.f_navi li {
    float: left;
    background: url(../images/common/list_fnavi.png) no-repeat left 7px;
    padding-left: 14px;
    margin-right: 15px;
}
.f_navi li:last-of-type { margin-right: 0;}
.f_navi li a { color: #fff; }
.copyright {
    float: right;
    font-size: 10px;
}

@media screen and (max-width: 768px) {
.catch_copy {
    font-size: 3.2vw;  
}
.service_flame {
    padding-left: 40px;
    padding-right: 40px;
}
.job_img {
    width: 85%;
    padding-bottom: 56%;
    margin: 30px auto 0 auto;
}

.form-xs { width: 30%;}
.form-sm { width: 50%;}
.form-md { width: 75%;}

.f_navi_flame {
    padding: 15px 20px 10px 20px;
}
.outer_navi {
	text-align: center;
}
.inner_navi {
	display: inline-block;
	text-align: left;
	overflow: hidden;
}
.copyright {
    float: none;
    text-align: center;
}
}


@media screen and (max-width: 480px) {
.service_flame {
    padding-left: 25px;
    padding-right: 25px;
}
.job_img {
    width: 100%;
    padding-bottom: 66%;
}
.btn_detail {
    float: none;
    margin-right: 0;
    width: 100%;
    margin: 0 auto 8px auto;
    text-align: center;
    background-color: #666666;
}
.btn_entry {
    float: none;
    margin-right: 0;
    width: 100%;
    margin: 0 auto 8px auto;
    text-align: center;
    background-color: #D90000;
}

.form-xs, .form-sm, .form-md { width: 100%;}
}


/*----------　テキスト　------------*/
.fs10 {font-size:10px;}
.fs11 {font-size:11px;}
.fs12 {font-size:12px;}
.fs13 {font-size:13px;}
.fs14 {font-size:14px;}
.fs15 {font-size:15px;}
.fs16 {font-size:16px;}
.fs17 {font-size:17px;}

.red { color: #EA617B; }
.blue { color:#069; }

.line13 {line-height:130%;}
.line14 {line-height:140%;}
.line18 {line-height:180%;}

.ls0 {letter-spacing:0px;}
.hid {overflow: hidden;}

.over {  
    -webkit-transition: 0.3s ease-in-out;  
       -moz-transition: 0.3s ease-in-out;  
         -o-transition: 0.3s ease-in-out;  
            transition: 0.3s ease-in-out;  
}  
.over:hover {  
    opacity: 0.8;  
    filter: alpha(opacity=80);  
}
.square_btn a {
    display: inline-block;
    padding: 8px 20px;
    text-decoration: none;
    color: #FFF;
	background: #EC881D;
    border: solid 2px #EC881D;
    border-radius: 3px;
    transition: .4s;
}
.square_btn a:hover {
    background: #FFF;
    color: #EC881D;
}
.img_f img { width: 100%;}

.br_sp { display:none; }
@media screen and (max-width: 768px) {
.br_tab { display:none; }
}
@media screen and (max-width: 480px) {
.br_sp { display: inline; }
}

.table-narrow, .table-wide, .table-form {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	border-collapse: collapse;
}
.table-narrow th {
	width: 28%;
	border-bottom: solid 1px #ddd;
	border-top: solid 1px #ddd;
	text-align: left;
	padding: 10px 1.5% 8px 3%;
	font-weight: bold;
	vertical-align: text-top;
	background-color: #F6F6F6;
}
.table-narrow td {
	border-bottom: solid 1px #DDD;
	border-top: solid 1px #DDD;
	padding: 10px 18px 8px 18px;
    background-color: #fff;
}
.table-wide th {
	width: 28%;
	border-bottom: solid 1px #ddd;
	border-top: solid 1px #ddd;
	text-align: left;
	padding: 15px 1.5% 13px 3%;
	font-weight: bold;
	vertical-align: text-top;
	background-color: #F6F6F6;
}
.table-wide td {
	border-bottom: solid 1px #DDD;
	border-top: solid 1px #DDD;
	padding: 15px 18px 13px 18px;
    background-color: #fff;
}
.table-form th {
	width: 28%;
	border-bottom: solid 1px #ddd;
	border-top: solid 1px #ddd;
	text-align: left;
	padding: 20px 1.5% 16px 3%;
	font-weight: bold;
	vertical-align: text-top;
	background-color: #F6F6F6;
}
.table-form td {
	border-bottom: solid 1px #DDD;
	border-top: solid 1px #DDD;
	padding: 20px 18px 16px 18px;
    background-color: #fff;
}

@media screen and (max-width: 768px) {
.table-narrow th, .table-wide th, .table-form th { width: 30%;}
.table-narrow td,.table-wide td, .table-form td  {
	padding-right: 2%;
	padding-left: 2%;
}
}

@media screen and (max-width: 480px) {
.table-narrow th,.table-wide th {
	width: 100%;
	padding: 8px 3% 6px 3%;
	display: block;
	border-bottom: none;
	border-top: none;
	margin: 0 auto ;
    background-color: #EBEBEB;
}
.table-narrow td,.table-wide td {
	width: 100%;
	display: block;
	border-bottom-style: none;
	border-left-style: none;
	border-top-style: none;
	padding: 8px 3% 22px 3%;
	margin: 0 auto;
	overflow: hidden;
}
.table-form th {
	width: 100%;
	padding: 8px 3% 6px 3%;
	display: block;
	border-bottom: none;
	border-top: none;
	margin: 0 auto 10px auto;
    background-color: #EBEBEB;
}
.table-form td {
	width: 100%;
	display: block;
	border-bottom-style: none;
	border-left-style: none;
	border-top-style: none;
	padding: 8px 3% 22px 3%;
	margin: 0 auto;
	overflow: hidden;
}
}
/*----------　リスト　------------*/
.basic_ul li {
	background-image: url(../img/common/list_img01.png);
	background-repeat: no-repeat;
	background-position: 2px 6px;
	line-height: 145%;
	margin-bottom: 5px;
	padding-left: 17px;
}
.basic_ul.dot_b li {
	background-image: url(../img/common/list_img01.png);
	background-repeat: no-repeat;
	background-position: 2px 5px;
	line-height: 145%;
	margin-bottom: 10px;
	padding: 0 0 8px 17px;
	border-bottom: dotted 1px #CCC;
}
.sub_ul li {
	background-image: url(../img/common/list_img02.png);
	background-repeat: no-repeat;
	background-position: 2px 5px;
	line-height: 145%;
	margin-bottom: 15px;
	padding: 0 10px 15px 17px;
	border-bottom: dotted 1px #CCC;
}
.basic_dl dt {
	float: left;
	background-image: url(../img/common/list_img01.png);
	background-repeat: no-repeat;
	background-position: 3px 6px;
	padding-left: 18px;
	width: 120px;
	font-weight: bold;
}
.basic_dl dd {
	margin-left: 140px;
}

.basic_ol {
    counter-reset: li; 
}
.basic_ol li {
	list-style:none;
	position: relative;

    *list-style-type: decimal; /*IE7用ハック*/
	margin-bottom: 3px;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 40px;
}
.basic_ol li:before {
	content:counter(li);
	counter-increment:li;
	position: absolute;
	z-index: 10;
	left: 6px;
	width: 28px;
	height: 28px;
	text-align: center;
	background-image: url(../img/common/ol_back.gif);
	background-repeat: no-repeat;
	background-position: -1px 6px;
}
.outer {
	text-align: center;
}
.inner {
	display: inline-block;
	text-align: left;
	overflow: hidden;
}

.mb0 {margin-bottom:0px;}
.mb5 {margin-bottom:5px;}
.mb8 {margin-bottom:8px;}
.mb10 {margin-bottom:10px;}
.mb12 {margin-bottom:12px;}
.mb15 {margin-bottom:15px;}
.mb20 {margin-bottom:20px;}
.mb25 {margin-bottom:25px;}
.mb30 {margin-bottom:30px;}
.mb35 {margin-bottom:35px;}
.mb40 {margin-bottom:40px;}
.mb45 {margin-bottom:45px;}
.mb50 {margin-bottom:50px;}
.mb55 {margin-bottom:55px;}
.mb60 {margin-bottom:60px;}
.mb70 {margin-bottom:70px;}
.mb0 p {margin-bottom: 0;}

.ml3 {margin-left:3px;}
.ml5 {margin-left:5px;}
.ml6 {margin-left:6px;}
.ml10 {margin-left:10px;}
.ml15 {margin-left:15px;}
.ml20 {margin-left:20px;}
.ml30 {margin-left:30px;}
.ml50 {margin-left:50px;}
.ml2p {margin-left:2%;}

.mr3 {margin-right:3px;}
.mr5 {margin-right:5px;}
.mr10 {margin-right:10px;}
.mr15 {margin-right:15px;}
.mr20 {margin-right:20px;}
.mr30 {margin-right:30px;}

.mt3 {margin-top:3px;}
.mt5 {margin-top:5px;}
.mt6 {margin-top:6px;}
.mt10 {margin-top:10px;}
.mt12 {margin-top:12px;}
.mt15 {margin-top:15px;}
.mt20 {margin-top:20px;}
.mt25 {margin-top:25px;}
.mt30 {margin-top:30px;}
.mt40 {margin-top:40px;}
.mt50 {margin-top:50px;}
.mt60 {margin-top:60px;}
.mt70 {margin-top:70px;}
.mt80 {margin-top:80px;}
.mt90 {margin-top:90px;}
.mt100 {margin-top:100px;}

.pb5 {padding-bottom: 5px;}
.pb10 {padding-bottom: 10px;}
.pb20 {padding-bottom: 20px;}
.pb30 {padding-bottom: 30px;}

.pt5 {padding-top: 5px;}
.pt10 {padding-top: 10px;}
.pt15 {padding-top: 15px;}
.pt20 {padding-top: 20px;}
.pt40 {padding-top: 40px;}

.pr0 {padding-right: 0px;}
.pr10 {padding-right: 10px;}
.pr15 {padding-right: 15px;}
.pr20 {padding-right: 20px;}

.pl0 {padding-left: 0px;}
.pl20 {padding-left: 20px;}

.width10 {width: 10%;}
.width20 {width: 20%;}
.width30 {width: 30%;}
.width40 {width: 40%;}
.width50 {width: 50%;}
.width60 {width: 60%;}
.width70 {width: 70%;}
.width80 {width: 80%;}
.width90 {width: 90%;}
.width100 {width: 100%;}
